/* Tablet and small screen computer */
@media (min-width: 1024px) and (max-width: 1279px) {
    .layout-container {
        padding: 2rem 4rem;
    }

    .navbar-box {
        margin-left: 4rem;
    }
}

/* Mobile paysage */
@media (min-width: 768px) and (max-width: 1023px) {

    :root {
        font-size: 9px;
    }

    .layout-container {
        padding: 1rem 3rem;
    }

    /* Modals */

    .search-modal {
        width: 70%;
    }

    .read-more-modal {
        width: 85vw;
        font-size: 1.5rem;
    }

    .read-more-modal h2 {
        font-size: 2rem;
    }

    /* Header */

    .search-icon {
        margin: 0 2rem 0 0;
    }

    .navbar-box {
        margin-left: 0;
    }

    .nav-item {
        margin: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    /* Why section */

    .why-section {
        height: fit-content;
        padding: 3rem 0;
    }

    .why-section>div {
        display: block;
        width: 100%;
    }

    .why-section>div {
        display: flex;
        flex-direction: column;
    }

    .why-section .text h2 {
        margin: 1rem auto;
    }

    .why-section .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 3rem;
    }

    .why-section .card {
        width: 40%;
        text-align: center;
        padding: 2rem 1rem;
    }

    .why-section .card .icon {
        width: 4rem;
        height: 4rem;
        align-self: center;
    }

    .why-section .text {
        text-align: center;
    }

    /* Achievements */

    .achievement-section p {
        font-size: 1.5rem;
        letter-spacing: 0.4px;
    }

    .achievement-section-bottom .number {
        align-self: baseline;
        text-align: center;
    }

    .achievement-section-bottom p {
        font-size: 1.5rem;
    }

    /* Footer */

    .sup-footer .links-box ul .title {
        font-size: 2.2rem;
    }

    .sup-footer .links-box ul li a {
        font-size: 1.8rem;
        text-align: left;
    }

    /* About section */

    .about-section {
        height: max-content;
    }

    /* Clients section */

    .clients-section .cards-box .card {
        margin: 0;
    }
}

/* Mobile portrait */
@media (max-width: 767px) {
    :root {
        font-size: 6px;
    }

    .layout-container {
        padding: 1rem 4rem;
        width: 100%;
    }

    /* Modals */
    .search-modal {
        width: 80%;
        font-size: 1.8rem;
    }

    .read-more-modal {
        width: 90vw;
        top: 10%;
        font-size: small;
        overflow-y: scroll;
        height: 90%;
    }

    .read-more-modal h2 {
        font-size: 3rem;
    }

    .search-modal .modal-header h2 {
        font-size: 3rem;
    }

    .search-modal .modal-body input {
        width: 100%;
        padding: 1rem;
        border: 1px solid #b3befd;
        border-radius: 5px;
        outline: none;
        font-size: 2.8rem;
    }

    .search-modal .modal-footer button {
        font-size: 2.5rem;
    }

    /* Header */
    .header-section {
        flex-direction: column;
    }

    .header-left:first-child a svg {
        max-width: 35vw;
    }

    .header-buttons {
        justify-content: end;
        margin-right: 0;
    }

    .header-buttons .nav-btn {
        display: block;
    }

    .header-section+section {
        margin: 10rem 0 0 0;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .navbar-box {
        display: none;
        margin: 0;
    }

    .navbar-nav .nav-item {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 1.5rem auto;
    }

    .search-icon {
        margin: 0 3rem 0 0;
    }

    /* slider-section */
    .slider-section .f-row {
        display: block;
    }

    .detail-box {
        width: 100%;
    }

    .detail-box h2 {
        margin: 3rem 0;
    }

    .detail-box .btn {
        font-size: 2rem;
    }

    .detail-box-top {
        padding-bottom: 0;
    }

    .companies {
        padding-top: 0;
        width: 70%;
        margin: auto;
    }

    .companies p {
        text-align: center;
        font-size: 1.9rem;
    }

    .companies-logos {
        width: 100%;

    }

    .companies-logos img {
        align-self: center;
    }

    .img-box {
        width: 100%;
        display: block;
    }

    .img-box img {
        padding: 3rem 3rem 0 3.5rem;
        width: 100%;
        height: 100%;
        margin-left: 3rem;
    }

    .img-box .card {
        position: static;
        width: 40rem;
        margin: 0 auto -5rem auto;
    }

    .img-box .card h2 {
        font-size: 3rem;
    }

    .img-box .card p {
        font-size: 2.8rem;
    }

    /* Why section */

    .why-section {
        padding: 5rem 0;
    }

    .why-section>div {
        display: block;
    }

    .why-section .cards {
        display: block;
    }

    .why-section .card .icon {
        width: 5rem;
        height: 5rem;
    }

    .why-section .text {
        text-align: center;
    }

    .why-section .card {
        align-items: center;
        margin: 5rem 0;
        padding: 1rem 2rem;
        border-radius: 2rem;
    }

    .why-section .text h2 {
        font-size: 3.5rem;
    }

    .why-section .text p {
        font-size: 2rem;
    }

    .why-section .card h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    .why-section .card p {
        font-size: 2rem;
        text-align: center;
    }

    /* Achievement */

    .achievement-section .f-col {
        width: 100%;
    }

    .achievement-section h2 {
        font-size: 2rem;
    }

    .achievement-section p {
        font-size: 1.8rem;
        letter-spacing: 0.4px;
    }

    .achievement-section-top {
        margin-bottom: 2rem;
    }

    .achievement-section-bottom div:nth-child(2) {
        margin: 0;
        padding: 0 4rem;
    }

    .achievement-section-bottom .number {
        align-self: baseline;
    }

    .achievement-section-bottom p {
        text-align: center;
    }

    /* clients-section */

    .clients-section .cards-box {
        width: 90vw;
        overflow-x: hidden;
    }

    .clients-section h2 {
        font-size: 5rem;
    }

    .clients-section h3 {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 2.6rem;
    }

    .clients-section .cards-box .card {
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
        align-content: center;
        min-width: 90%;
    }

    .clients-section .card .text {
        font-size: 2rem;
        letter-spacing: normal;
    }

    .clients-section .card .client-details h4 {
        font-size: 2.2rem;
    }

    .clients-section .card .client-details p {
        font-size: 1.8rem;
    }

    /* Question section */

    .question-section h2,
    .question-section p,
    .question-section .call-btn {
        margin: 1rem;
        text-align: center;
        align-self: center;
    }

    .question-section p {
        font-size: 2rem;
        padding: 0;
        width: fit-content;
    }

    .question-section .call-btn {
        font-size: 3rem;
        width: auto;
        font-weight: 500;
    }

    .question-section .btn svg {
        width: 3rem;
        height: auto;
    }


    /* Footer */

    /* Sup footer */

    .sup-footer>.f-row {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    .sup-footer .logo-box,
    .sup-footer .links-box {
        width: 100%;
    }

    .logo-box {
        text-align: center;
    }

    .sup-footer .links-box ul {
        padding: 0;
        text-align: center;
    }

    .sup-footer .links-box ul .title {
        font-size: 2.5rem;
    }

    .sup-footer .links-box ul li a {
        font-size: 2.1rem;
    }

    /* Sub footer */

    .sub-footer .f-row {
        flex-direction: column-reverse;
    }

    .sub-footer .socialMedia-box {
        margin: 1rem 0;
    }

    .sub-footer .socialMedia-box a {
        padding-left: 3rem;
    }

    .sub-footer .copyRight-box {
        padding: 1rem;
    }

    /* About section */

    .about-section {
        height: fit-content;
    }

    .about-section .f-row .about-text h2 {
        margin: 3rem 0 0 0;
    }

    .about-section .f-row .about-text p {
        font-size: 2.3rem;
        margin: 0;
    }

    .about-section .f-row .about-text .btn {
        font-size: 2.3rem;
    }

    .about-section .layout-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section .about-text,
    .about-section .about-img {
        width: 100%;
    }

    .about-section .about-img {
        display: none;
    }


    /* FAQ section */

    .faq-section .faq-title {
        font-size: 5rem;
    }

    .faq-section .faq-item .faq-item-btn p,
    .faq-section .faq-item .faq-item-txt div {
        font-size: 2.3rem;
    }

    .faq-section .layout-container .faq-items-box {
        width: 100%;
    }

    /* Professional section */

    .professional-section {
        padding-bottom: 3rem;
    }

    .professional-section .professional-img {
        display: none;
    }

    .professional-section .professional-text {
        width: 100%;
    }

    .professional-section .professional-text .f-col {
        width: 100%;
        margin: 2rem 0;
    }

    .professional-section .f-row .professional-text h2 {
        font-size: 4rem;
    }

    .professional-section .f-row .professional-text p {
        font-size: 2.3rem;
    }

    .professional-section .f-row .professional-text .btn {
        font-size: 2rem;
    }

    /* Services section */

    .services-section .layout-container h2 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }

    .services-section .layout-container .card h3 {
        font-size: 3rem;
    }

    .services-section .layout-container .services-cards {
        flex-direction: column;
        gap: 5rem;
    }

    .services-section .layout-container .f-row .card {
        width: 90%;
        align-self: center;
        font-weight: 800;
    }

    .services-section .layout-container .f-row .card p {
        font-size: 2.2rem;
    }

    .services-section .layout-container .card .btn {
        font-size: 2.2rem;
    }

    /* Contact section */

    .contact-section .layout-container .f-col .f-row {
        display: block;
        padding-bottom: 3rem;
    }

    .contact-section h2 {
        font-size: 4rem;
        margin: 2rem auto;
    }

    .contact-section form {
        width: 95%;
        align-self: center;
        margin-bottom: 5rem;
    }

    .contact-section .contact-label {
        font-size: 2rem;
    }

    .contact-section input,
    .contact-section input::placeholder,
    .contact-section select,
    .contact-section select::placeholder,
    .contact-section textarea,
    .contact-section textarea::placeholder {
        font-size: 2.2rem;
        height: 7rem;
    }

    .contact-section textarea {
        height: 10rem;
    }

    .contact-section button {
        font-size: 2.2rem;
        font-weight: 600;
    }

    .contact-section form .validation-msg {
        font-size: 1.8rem;
    }

    .contact-section form .validation-msg img {
        width: 1.8rem;
    }

    .contact-section .layout-container .f-col .f-row .contact-form form .form-group .success {
        border-width: 1px;
    }

    .contact-section .layout-container .f-col .f-row .contact-form form .form-group .error {
        border-width: 1px;
    }

    /* Alert */
    .alert{
        padding: 1rem;
        font-size: 2rem;
    }

    .alert img {
        width: 3rem;
    }
}