/* Tablet and small screen computer */
@media (min-width: 1024px) and (max-width: 1279px) {
    .layout-container {
        padding: 2rem 4rem;
    }
}

/* Mobile paysage */
@media (min-width: 768px) and (max-width: 1023px) {

    :root {
        font-size: 7px;
    }
    
    .layout-container {
        padding: 2rem 5rem;
    }
    
    /* Header */

    .search-icon {
        margin: 0 2rem 0 0;
    }

    .nav-item {
        margin: 1rem 1.5rem;
    }

    /* Why section */

    .why-section {
        height: fit-content;
        padding: 3rem 0;
    }

    .why-section>div {
        display: block;
        width: 100%;
    }

    .why-section>div {
        display: flex;
        flex-direction: column;
    }

    .why-section .text h2 {
        margin: 1rem auto;
    }

    .why-section .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 3rem;
    }

    .why-section .card {
        width: 40%;
        text-align: center;
        padding: 2rem 1rem;
    }

    .why-section .card .icon {
        width: 4rem;
        height: 4rem;
        align-self: center;
    }

    .why-section .text {
        text-align: center;
    }

    /* Achievements */

    .achievement-section p {
        font-size: 1.5rem;
        letter-spacing: 0.4px;
    }

    .achievement-section-bottom .number {
        align-self: baseline;
        text-align: center;
    }

    .achievement-section-bottom p {
        font-size: 1.5rem;
    }

    /* Footer */

    .sup-footer .links-box ul .title {
        font-size: 2.2rem;
    }

    .sup-footer .links-box ul li a {
        font-size: 1.8rem;
        text-align: left;
    }

    .about-section {
        height: max-content;
    }
}

/* Mobile portrait */
@media (max-width: 767px) {
    :root {
        font-size: 5px;
    }

    .layout-container {
        padding: 1rem 5rem;
        width: 100%;
    }

    /* Header */

    .header-section+section {
        margin: 10rem 0 0 0;
    }

    .navbar-brand {
        display: inline;
    }

    .navbar-dropdown {
        display: flex;
    }

    .navbar-nav {
        display: none;
        /* add drop down menu */
    }

    .menu-btn {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        background: none;
    }

    .search-icon {
        margin: 0 3rem 0 0;
        padding: 0;
    }

    /* slider-section */
    .slider-section .f-row {
        display: block;
    }

    .detail-box {
        width: 100%;
    }

    .detail-box-top {
        padding-bottom: 0;
    }

    .detail-box-top a {
        font-size: 1.5rem;
    }

    .companies {
        padding-top: 0;
        width: 70%;
        margin: auto;
    }

    .companies p {
        text-align: center;
    }

    .companies-logos {
        width: 100%;

    }

    .companies-logos img {
        align-self: center;
    }

    .img-box {
        width: 100%;
        display: block;
    }

    .img-box img {
        padding: 3rem 3rem 0 3.5rem;
        width: 100%;
        height: 100%;
        margin-left: 3rem;
    }

    .img-box .card {
        position: static;
        width: 40rem;
        margin: 0 auto -5rem auto;
    }

    .img-box .card h2 {
        font-size: 3rem;
    }

    .img-box .card p {
        font-size: 2.8rem;
    }

    /* Why section */

    .why-section {
        height: fit-content;
        padding: 5rem 0;
    }

    .why-section>div {
        display: block;
    }

    .why-section .cards {
        grid-area: cards;
        display: block;
    }

    .why-section .card .icon {
        width: 4rem;
        height: 4rem;
    }

    .why-section .text {
        text-align: center;
    }

    .why-section .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 10rem;
        padding: 1rem 2rem;
        box-shadow: 0px 18px 58px 16px rgba(26, 26, 26, 0.02);
        border-radius: 1rem;
        background-color: #FCFCFC;
    }

    .why-section .text h2 {
        font-size: 4rem;
    }

    .why-section p {
        font-family: 'Poppins', sans-serif;
        color: var(--grey-1);
        line-height: 2.8rem;
        font-size: 1.8rem;
    }

    .why-section .card h3 {
        font-size: 2rem;
        margin: 1rem 0;
        text-align: center;
    }

    .why-section .card p {
        font-size: 1.5rem;
        letter-spacing: normal;
        text-align: center;
    }

    /* Achievement */

    .achievement-section .f-col {
        width: 100%;
    }

    .achievement-section h2 {
        font-size: 2rem;
    }

    .achievement-section p {
        font-size: 1.8rem;
        letter-spacing: 0.4px;
    }

    .achievement-section-top {
        margin-bottom: 2rem;
    }

    .achievement-section-bottom div:nth-child(2) {
        margin: 0;
        padding: 0 4rem;
    }

    .achievement-section-bottom .number {
        align-self: baseline;
    }

    .achievement-section-bottom p {
        text-align: center;
    }

    /* clients-section */

    .clients-section .cards-box {
        display: block;
    }

    .clients-section h2 {
        font-size: 5rem;
    }

    .clients-section h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    .clients-section .cards-box .card {
        padding: 2rem;
        font-family: 'Poppins', sans-serif;
        align-content: center;
    }

    .clients-section .card .text {
        font-size: 1.5rem;
        letter-spacing: normal;
    }

    .clients-section .card .client-details h4 {
        font-size: 2rem;
    }

    .clients-section .card .client-details p {
        font-size: 1.5rem;
    }

    /* Question section */

    .question-section h2,
    .question-section p,
    .question-section .call-btn {
        margin: 1rem auto;
        text-align: center;
    }

    /* Footer */

    /* Sup footer */

    .sup-footer>.f-row {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }

    .sup-footer .logo-box,
    .sup-footer .links-box {
        width: 100%;
    }

    .logo-box {
        text-align: center;
    }

    .sup-footer .links-box ul {
        padding: 0;
        text-align: center;
    }

    .sup-footer .links-box ul .title {
        font-size: 2.5rem;
    }

    .sup-footer .links-box ul li a {
        font-size: 2.1rem;
    }

    /* Sub footer */

    .sub-footer .f-row {
        flex-direction: column-reverse;
    }

    .sub-footer .socialMedia-box {
        margin: 1rem 0;
    }

    .sub-footer .socialMedia-box a {
        padding-left: 3rem;
    }

    .sub-footer .copyRight-box {
        padding: 1rem;
    }

    /* About section */

    .about-section{
        height: fit-content;
    }

    .about-section .f-row .about-text p{
        font-size: 1.8rem;
    }

    .about-section .f-row .about-text .btn {
        font-size: 1.8rem;;
    }

    .about-section .layout-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-section .about-text,
    .about-section .about-img {
        width: 100%;
    }

    .about-section .about-img{
        display: none;
    }


    /* FAQ section */

    .faq-section .faq-title{
        font-size: 4rem;
    }

    .faq-section .layout-container .faq-items-box{
        width: 100%;
    }

    .faq-section .layout-container .faq-item-btn-icon{
        width: 12;
        height: auto;
    }

    /* Professional section */

    .professional-section{
        padding-bottom: 3rem;
    }

    .professional-section .professional-img{
        display: none;
    }

    .professional-section .professional-text{
        width: 100%;
    }

    .professional-section .professional-text .f-col{
        width: 100%;
        margin: 2rem 0;
    }

    .professional-section .f-row .professional-text h2{
        font-size: 4rem;
    }

    .professional-section .f-row .professional-text p{
        font-size: 2rem;
    }

    /* Services section */

    .services-section .layout-container h2{
        font-size: 3.5rem;
    }

    .services-section .layout-container .services-cards{
        flex-direction: column;
        gap: 5rem;
    }

    .services-section .layout-container .f-row .card{
        width: 70%;
        align-self: center;
    }




}