@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400&display=swap');

:root {
    font-size: 10px;
    --blue-1: #F2F7FF;
    --blue-10: #094B72;
    --grey-1: #666767;
    --grey-2: #4F4F4F;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 7rem;
    line-height: 7rem;
    color: var(--blue-10);
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a:hover,
.services-btn:hover {
    font-weight: 600;
}

.active {
    font-weight: 600;
    border-bottom: 1px solid var(--blue-10);
}

.active a:hover {
    cursor: auto;
}

.active.nav-item .nav-link {
    color: var(--blue-10);
}

.f-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.f-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.s-between {
    justify-content: space-between;
}

.layout-container {
    padding: 1rem 10rem;
}

.layout-container2 {
    padding: 1rem 5rem;
}

.layout_padding2-bottom {
    padding-bottom: 1.5rem;
}

.layout_padding-top {
    padding-top: 5rem
}

.layout_padding-bottom {
    padding-bottom: 5rem;
}

.layout_padding3-right {
    padding-right: 1rem;
}

.margin_right-1 {
    margin-right: 1rem;
}

.btn {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #094B72;
    border-radius: 1rem;
    color: #F9F8F9;
    background-color: var(--blue-10);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:disabled {
    background-color: var(--grey-2);
    cursor: no-drop;
}

.btn:hover :not(.btn:disabled) {
    background-color: #053e60;
}

.overlay {
    display: none;
    position: fixed;
    background: #1b1b1bac;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Alert */
.alert {
    display: none;
    width: max-content;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    border-radius: 1rem;
    z-index: 1000;
    background-color: #bcffbc;
    font-family: 'Popping', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 1.5rem;
}

.alert .text {
    color: rgb(0, 190, 0);
}

.alert img {
    width: 5rem;
}

.show {
    display: block;
}

/* Modals */

.search-modal {
    display: none;
    width: 35%;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px solid var(--grey-1);
    border-radius: 1rem;
    z-index: 1000;
    background-color: var(--blue-1);
    font-family: 'Popping', sans-serif;
}

.search-modal .modal-header {
    justify-content: space-between;
}

.search-modal .modal-header h2 {
    font-family: 'Popping', sans-serif;
    margin: 0;
    font-size: 2rem;
    color: var(--blue-10);
}

.search-modal .modal-body input {
    width: 100%;
    height: 5rem;
    padding: 1.5rem;
    border: 1px solid #b3befd;
    border-radius: 5px;
    outline: none;
    font-size: 1.8rem;
}

.search-modal .modal-footer {
    justify-content: center;
}

.search-modal .modal-footer button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    gap: 1rem;
}

.read-more-modal {
    display: none;
    background-color: #f3efef;
    box-shadow: #cec8eab7 0 0 4rem 0.3rem;
    border-radius: 2rem;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-family: 'Popping', sans-serif;
    z-index: 1000;
}

.read-more-modal div:has(.btn-close) {
    display: flex;
    justify-content: flex-end;
    margin-right: -1.5rem;
}

.read-more-modal p {
    text-align: justify;
    text-indent: 2em;
}

.search-modal .modal-header .btn-close,
.read-more-modal .btn-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.read-more-modal .btn-close:hover svg path,
.search-modal .modal-header .btn-close:hover svg path {
    stroke: #e00000;
}

.search-modal .modal-body {
    margin: 2rem 0;
    padding: 0 3rem;
}

.read-more-modal h2 {
    font-family: 'Popping', sans-serif;
    margin: -1.5rem 0 0 0;
    text-align: center;
    font-size: xx-large;
}

/* Header */

.header-section {
    display: flex;
    justify-content: space-between;
    background-color: #c3e8f1a6;
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 10;
    top: 0;
    backdrop-filter: blur(15px);
    box-shadow: 0px 2px 40px rgba(88, 77, 77, 0.1);
}

.header-section .header-left {
    justify-content: space-between;
}

.header-left:first-child a svg {
    max-width: 25vw;
}

.header-buttons {
    justify-content: end;
    margin-right: auto;
}

.header-buttons #search-btn svg:hover {
    cursor: pointer;
    transform: rotate(10deg) scale(1.1);
}

.header-btn {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    align-self: center;
    cursor: pointer;
}

.header-buttons .nav-btn {
    display: none;
}

.header-section+section {
    margin: 10rem 0 0 0;
}

.navbar-box {
    justify-content: center;
    margin-left: 3rem;
}

.navbar-nav {
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.navbar-nav:last-child {
    margin: 0;
}

.nav-item {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-nav .nav-item a,
.services-btn {
    color: rgb(67, 66, 66);
}

.navbar-nav .nav-item a:hover,
.services-btn:hover {
    color: var(--blue-10);
}

.services-item {
    min-width: 20%;
    position: relative;
}

.services-item .services-nav {
    position: absolute;
    background-color: #c0edfcf8;
    border-radius: 1rem;
    top: 100%;
    width: 120%;
    transform-origin: top center;
    transform: rotateX(90deg);
    transition: transform 0.3s ease-in-out;
}

.services-item .services-nav-item {
    padding: 0.8rem;
    font-size: 1.3rem;
}

.services-nav.openServices {
    transform: rotateX(0deg);
}

.services-item .services-nav ul {
    padding-left: 0;
    list-style-type: none;
    justify-self: center;
}

.services-btn img {
    width: 1.1rem;
}

/* slider-section */
.slider-section {
    display: flex;
    justify-content: space-between;
}

.detail-box,
.img-box {
    width: 50%;
}

.detail-box-top p {
    font-size: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    color: var(--grey-2);
    margin-bottom: 2rem;
}

.detail-box-top a {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    width: max-content;
}

.companies p {
    color: #474747;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.7rem;
}

.companies-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
}

.companies-logos img {
    width: 45%;
    height: 30%;
    margin: 0.5rem;
    padding-bottom: 1rem;
}

.img-box {
    background-image: url("../images/ellipses.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail-box-top {
    margin-bottom: 2rem;
}

.img-box img {
    padding: 3rem 3rem 0 3.5rem;
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    object-fit: cover;
}

.img-box .card {
    background-color: #ffffff;
    position: absolute;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--blue-1) 0 0 5px 1px;
    border-radius: 1rem;
    width: 30rem;
    margin-bottom: -5rem;
    gap: 1rem;
}

.img-box .card h2 {
    color: #33475B;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    padding: 2rem 0 0 0;
    margin: 0;
}

.img-box .card p {
    color: var(--grey-1);
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 2rem 0;
    margin: 0;
}

/* Why section */

.why-section {
    display: flex;
    background-color: #F2F7FF;
}

.why-section>div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". . . . . . . . . . . ."
        "text text text text . cards cards cards cards cards cards ."
        "text text text text . cards cards cards cards cards cards ."
        "text text text text . cards cards cards cards cards cards ."
        ". . . . . cards cards cards cards cards cards ."
        ". . . . . . . . . . . .";
}

.why-section .cards {
    grid-area: cards;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "card1 card2"
        "card3 card4"
}

.why-section .card .icon {
    width: 3rem;
    height: 3rem;
    padding-bottom: 1rem;
}

.why-section .text {
    grid-area: text;
}

.why-section-card1 {
    grid-area: card1;
}

.why-section-card2 {
    grid-area: card2;
}

.why-section-card3 {
    grid-area: card3;
}

.why-section-card4 {
    grid-area: card4;
}

.why-section .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    box-shadow: 0px 18px 58px 16px rgba(26, 26, 26, 0.02);
    border-radius: 1rem;
    background-color: #FCFCFC;
}

.why-section .text h2 {
    font-size: 4rem;
}

.why-section p {
    font-family: 'Poppins', sans-serif;
    color: var(--grey-1);
}

.why-section .text p {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.why-section .card h3 {
    font-size: 1.7rem;
    margin: 0;
    line-height: 2rem;
}

.why-section .card p {
    font-size: 1.2rem;
    letter-spacing: normal;
}

/* Achievement */

.achievement-section {
    height: fit-content;
    background-color: var(--blue-10);
    background-image: url(../images/Patterns.svg);
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.achievement-section .f-col {
    justify-content: space-around;
    width: 60%;
    padding: 1rem 0;
}

.achievement-section .f-col div {
    display: flex;
    width: 100%;
    align-items: center;
}

.achievement-section .f-col h2 {
    font-size: 4rem;
    padding: 0;
}

.achievement-section p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    margin: 0;
}

.achievement-section-top {
    margin-bottom: 2rem;
}

.achievement-section-top h2 {
    margin: 0 0 0.5rem 0;
}

.achievement-section-bottom div:nth-child(2) {
    border-left: 2px solid #ffffff40;
    border-right: 2px solid #ffffff40;
    margin: 0 2rem;
    padding: 0 2rem;
}

.achievement-section-bottom h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 0;
}

/* clients-section */

.clients-section {
    background-color: var(--blue-1);
    height: fit-content;
}

.clients-section .layout-container {
    align-items: center;
}

.clients-section h2 {
    font-size: 2.7rem;
    font-family: 'Playfair Display';
    margin: 2rem auto;
}

.clients-section .layout-container .cards-box {
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
}

.clients-section .layout-container ::-webkit-scrollbar {
    display: none;
}

.clients-section .layout-container ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.clients-section .layout-container ::-webkit-scrollbar-track {
    background-color: #fff;
}

.clients-section .cards-box .card {
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    align-content: center;
    min-width: 95%;
    margin: 0 4rem;
}

.active-card {
    border-radius: 2rem;
}

.clients-section h3 {
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
    color: #2D2F30;
    font-family: 'Poppins';
    font-weight: 500;
}

.clients-section .card .text {
    height: 100%;
    background-color: #ffffff;
    color: #4F4F4F;
    text-align: center;
    align-content: center;
    line-height: 2rem;
    font-size: 1.25rem;
    padding: 2rem 4rem;
    box-shadow: #094b7221 0 0 15px 1px;
    border-radius: 1rem;
}

.clients-section .card .client-details {
    justify-content: center;
    padding-top: 1rem;
}

.clients-section .card .client-details .details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    height: 100%;
}

.clients-section .card .client-details h4 {
    font-size: 1.5rem;
    font-family: 'unter', sans-serif;
    padding-top: 0.5rem;
    margin: 0;
}

.clients-section .card .client-details p {
    padding-top: 0.5rem;
    margin: 0;
}

.clients-section .card .client-details div {
    margin: 0.5rem;
}

.clients-section .card .triangle {
    background-color: #ffffff;
    width: 2rem;
    height: 1.5rem;
    z-index: 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    align-self: center;
    margin-top: 0;
}

/* Question sections */

.question-section {
    height: fit-content;
}

.question-section p {
    font-family: 'Poppins', sans-serif;
}

.question-section h2 {
    font-size: 3rem;
    margin: 0 0 2rem 0;
    letter-spacing: 1.5px;
}

.question-section p {
    letter-spacing: 0.5px;
    width: 70%;
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    line-height: 2.5rem;
}

.question-section .call-btn {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    width: 20rem;
}

.question-section .btn svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

/* Footer */

/* Sup footer */
.footer-section {
    background-color: var(--blue-10);
    height: fit-content;
    color: #EEEFF4;
    font-family: 'Inter', sans-serif;
}

.footer-section a {
    color: #EEEFF4;
}

.sup-footer {
    height: fit-content
}

.sup-footer>.f-row {
    padding: 3rem 0;
    width: 100%;
}

.sup-footer .logo-box,
.sup-footer .links-box {
    width: 50%;
}

.sup-footer .links-box ul {
    list-style-type: none;
    font-weight: 300;
    padding-left: 0;
}

.sup-footer .links-box ul li {
    padding: 0.8rem;
}

.sup-footer .links-box ul li a {
    font-size: small;
    color: #ffffff;
}

.sup-footer .links-box ul .title {
    font-weight: 600;
    font-size: 1.5rem;
}

/* Sub footer */
.sub-footer {
    height: fit-content;
    background-color: #004D7B;
    color: #D9DBE1;
}

.sub-footer .f-row {
    justify-content: space-between;
    align-items: center;
}

.sub-footer .copyRight-box,
.sub-footer .socialMedia-box {
    height: 100%;
    font-size: small;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.sub-footer .socialMedia-box a {
    padding-left: 1rem;
}

/* About Section */

.about-section {
    height: 80vh;
}

.about-section .f-row {
    justify-content: space-between;
    height: 100%;
}

.about-section .about-text,
.about-section .about-img {
    width: 50%;
}

.about-section .f-row .about-img {
    background: url("../images/plumber-making-ok-sign.png") no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
}

.about-section .about-text .f-col {
    margin: 2rem 0;
    height: 100%;
    justify-content: center;
    gap: 3rem;
}

.about-section .f-row .about-text h2 {
    font-size: 5rem;
    font-family: 'Playfair Display';
    color: var(--blue-10);
    margin: 0;
}

.about-section .f-row .about-text p {
    color: #4F4F4F;
    font-family: Plus Jakarta Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    letter-spacing: 0.5px;
    padding: 0;
}

.about-section .f-row .about-text .btn {
    height: auto;
    font-size: 1.5rem;
    width: fit-content;
    font-weight: 500;
    padding: 1.5rem 2.8rem;
}

/* FAQ section */

.faq-section {
    background-color: #C3E8F1;
    height: fit-content;
    width: 100%;
}

.faq-section .f-col {
    align-items: center;
}

.faq-section .faq-title {
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
}

.faq-section .layout-container .faq-items-box {
    width: 90%;
}

.faq-section .layout-container .faq-item {
    margin-bottom: 1.5rem;
}

.faq-section .layout-container .faq-item,
.faq-section .layout-container .faq-item .faq-item-btn,
.faq-section .layout-container .faq-item .faq-item-txt {
    align-content: center;
    width: 100%;
    font-family: 'Popping', sans-serif;
    padding: 0 1rem;
}

.faq-section .layout-container .faq-item .faq-item-btn {
    background-color: #f3f3f3;
    border: 1px solid #c5cacb;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    padding: 0 2rem;
    outline: none;
    box-shadow: #094b7221 0 0 15px 1px;
    cursor: pointer;
    font-size: 1.4rem;
    display: inline-flex;
    width: 100%;
}

.faq-section .layout-container .faq-item .faq-item-btn:hover {
    background-color: #eeeeee;
}

.faq-section .layout-container .faq-item .f-row {
    align-content: center;
    justify-content: space-between;
    gap: 1rem;
}

.faq-section .layout-container .faq-item-btn-icon {
    margin: auto 0;
    transition: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}

.icon-rotate {
    transform: rotate(90deg);
}

.faq-section .layout-container .faq-item .faq-item-txt {
    max-height: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border-bottom: 1px solid #c5cacb;
    border-left: 1px solid #c5cacb;
    border-right: 1px solid #c5cacb;
    border-top: none;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    padding: 0;
    font-size: 1.4rem;
    text-align: justify;
    transition: 0.4s ease;
}

.faq-section .layout-container .faq-item .open-faq-txt {
    max-height: fit-content;
    padding: 1rem 2rem;
}

/* Contact section */

.contact-section h2 {
    font-size: 3rem;
    font-family: 'Playfair Display';
    color: var(--blue-10);
}

.contact-section form {
    display: flex;
    font-family: 'Poppons', sans-serif;
    width: 90%;
}

.contact-section .contact-label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-section input,
.contact-section select,
.contact-section textarea {
    background-color: #ffffff;
    outline: none;
    font-size: 1.5rem;
    border: none;
    height: 4rem;
    padding: 1rem;
    box-shadow: 0 0 4px 1px #094b7225;
}

.contact-section textarea {
    padding-top: 2rem;
    height: 10rem;
    max-width: 100%;
    resize: vertical;
    max-height: 12rem;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder,
.contact-section select {
    color: var(--grey-1);
    font-size: 1.5rem;
}

.contact-section button {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 10rem;
    margin: auto;
}

.contact-section form .validation-msg {
    margin-bottom: 2.2rem;
    text-align: end;
    font-size: 1.2rem;
}

.contact-section form .validation-msg img {
    width: 1.3rem;
}

.contact-section .layout-container .f-col .f-row .contact-form form .form-group .success {
    border: 1.5px solid #00f201;
}

.success+.validation-msg {
    color: #00f201;
}

.contact-section .layout-container .f-col .f-row .contact-form form .form-group .error {
    border: 1.5px solid #ff0e0e;
}

.error+.validation-msg {
    color: red;
}

.contact-section .contact-map iframe {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: 0 0 4px 1px #094b7225;
}

/* Professional section */

.professional-section .f-row {
    justify-content: space-between;
    height: fit-content;
}

.professional-section .professional-text,
.professional-section .professional-img {
    width: 50%;
    justify-content: center;
}

.professional-section .professional-text .f-col {
    justify-content: space-between;
    width: 80%;
    margin: 5rem 0;
}

.professional-section .f-row .professional-text h2 {
    font-size: 3rem;
    font-family: 'Playfair Display';
    font-weight: 400;
    color: var(--blue-10);
    margin-bottom: 0;
}

.professional-section .f-row .professional-text p {
    color: #4F4F4F;
    font-family: Plus Jakarta Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    letter-spacing: 0.5px;
    padding: 0;
}

.professional-section .f-row .professional-text .btn {
    font-size: 1.5rem;
    width: fit-content;
    font-weight: 500;
    padding: 1.5rem 2.8rem;
}

.professional-section .f-row .professional-img {
    background-image: url("../images/professional-img.png.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Services section */

.services-section {
    height: fit-content;
    background-color: var(--blue-1);
}

.services-section .layout-container {
    text-align: center;
    justify-content: space-between;
}

.services-section .layout-container h2 {
    color: var(--blue-10);
    font-size: 3rem;
    margin: 2rem 0;
    font-weight: 900;
}

.services-section .layout-container h2,
.services-section .layout-container h3 {
    font-family: 'Playfair Display';
}

.services-section .layout-container .services-cards {
    column-gap: 2rem;
    height: auto;
    padding: 0 0 3rem 0;
}

.services-section .layout-container .f-row .card {
    background-color: #ffffff;
    color: black;
    height: 100%;
    padding: 2rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15);
}

.services-section .layout-container .f-row .card:hover {
    background-image: linear-gradient(to bottom, #004D7B, #00a2ff);
    color: #ffffff;
}

.services-section .layout-container .f-row .maintenance-card:hover .maintenance-icon {
    background-image: url("../images/icons/maintenance_white.svg");
}

.services-section .layout-container .f-row .electrical-card:hover .electrical-icon {
    background-image: url("../images/icons/electrical_white.svg");
}

.services-section .layout-container .f-row .plumbing-card:hover .plumbing-icon {
    background-image: url("../images/icons/plumbing_white.svg");
}

.services-section .layout-container .f-row .card .icon {
    height: 7rem;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.services-section .layout-container .f-row .card .maintenance-icon {
    background-image: url("../images/icons/maintenance.svg");
}

.services-section .layout-container .f-row .card .electrical-icon {
    background-image: url("../images/icons/electrical.svg");
}

.services-section .layout-container .f-row .card .plumbing-icon {
    background-image: url("../images/icons/plumbing.svg");
}

.services-section .layout-container .f-row .card p {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.services-section .layout-container .card h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

.services-section .layout-container .card .btn {
    font-size: 1.3rem;
    width: fit-content;
    font-weight: 500;
    padding: 1rem 2rem;
    margin: auto;
}

/*  */

.open {
    display: block !important;
}